
body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(242, 233, 228);
  padding: 0;
  margin: 0;
  }

  /* Header */
header{
 padding-bottom: 5px;
  color: rgb(242, 233, 228);
  background-color: #22223b; 
  justify-content: center;
  }

header::after{
  content: "";
  display: block;
  clear: both;
}

header div{
  border: 5px solid rgb(242, 233, 228);
  padding-right: 7px;
  height: 60px;
  padding-left: 45px;
  display: inline-block;
  background-color: #c9ada7;
  color: #22223b;
}

nav{
  float: right;
  text-align: right;
}

ul{
  margin-top: 30px;
  list-style: none;
  display: inline-block
}

li{
  display: inline;
  margin: 20px;
}

a{
  font-weight: bolder;
  text-decoration: underline;
  color: inherit
}

/*Decorative Pattern*/
.pattern{
  border-bottom: 5px solid #c9ada7;
  background-color: #22223b;
  opacity: 0.8;
  background: repeating-linear-gradient( 45deg, #f2e9e4, #f2e9e4 5px, #22223B 5px, #22223b 25px );
  margin: 0;
  height: 125px;
  text-align: right;
}

#space{
  height: 25px;
} 

/* About me section*/
.box-1{
  padding-right: 5px;
  display: inline-block;
  color: #22223b;
  border-right: 5px solid #22223B ;
  font-size: x-large;
  width: 20%;
  height: 160px;
  text-align: right;
}

.box-2{
  padding-right: 150px;
  float: right;
  width: 70%;
}

.p-1{
  padding-top: 20px;
  text-align: left;
  float: right;
  width: 88%;
  padding-right: 100px
}

/*Work and images section*/

.box-3{
  display: inline-block;
  color: #22223b;
  padding-right: 5px;
  border-right: 5px solid #22223B ;
  font-size: x-large;
  width: 384px;
  height: 400px;
  text-align: right;
}
.box-4{
  display: inline-block;
  margin-right: 60px;
  height: 395px;
  float: right;
  width: 64%;
}

.image-1{
  position: absolute;
  height: 175px;
  width: 850px;
  margin-right: 59px;
  border: 1px solid blue;
}

.image-2{
  height: 105px;
  width: 425px;
  margin-top: 178px;
  position: absolute;
  border: 1px solid rgb(247, 10, 176)
}

.image-3{
  margin-left: 425px;
  height: 105px;
  width: 425px;
  margin-top: 178px;
  position: absolute;
  border: 1px solid rgb(247, 10, 176)
}
.image-4{
  height: 105px;
  width: 425px;
  margin-top: 286px;
  position: absolute;
  border: 1px solid rgb(247, 10, 176)
}
.image-5{
  margin-left: 425px;
  height: 105px;
  width: 425px;
  margin-top: 286px;
  position: absolute;
  border: 1px solid rgb(247, 10, 176)
}

/*
.box-4{
  color: #22223b;
  padding-right: 5px;
  border-right: 5px solid #22223B ;
  font-size: x-large;
  width: 28%;
  height: 125px;
  text-align: right;
}*/
/*
.aside-3{
  width: 28%;
  height: 100px;
  text-align: right;
  float: left;
}
.nav2{ 
  padding-right: 500px;
  width: 60%;
  border: 1px solid chartreuse
}
footer{
  padding-right: 30px;
  float: right;
  width: 70%;
  height: 100px;
  text-align: right;
  border: 1px solid #ccc;
}
* /