
body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(242, 233, 228);
  padding: 0;
  margin: 0;
  }

  /* Header */
header{
  padding-bottom: 5px;
  color: rgb(242, 233, 228);
  background-color: #22223b; 
  justify-content: center;
  }

header::after{
  content: "";
  display: block;
  clear: both;
}

header div{
  border: 5px solid rgb(242, 233, 228);
  padding-right: 7px;
  height: 60px;
  padding-left: 45px;
  display: inline-block;
  background-color: #c9ada7;
  color: #22223b;
}

nav{
  float: right;
  text-align: right;
}

ul{
  margin-top: 30px;
  list-style: none;
  display: inline-block
}

li{
  display: inline;
  margin: 20px;
}

a{
  font-weight: bolder;
  text-decoration: underline;
  color: inherit
}

/*Decorative Pattern*/
section .pattern{
  border-bottom: 5px solid #c9ada7;
  background-color: #22223b;
  opacity: 0.8;
  background: repeating-linear-gradient( 45deg, #f2e9e4, #f2e9e4 5px, #22223B 5px, #22223b 25px );
  margin: 0;
  height: 125px;
  text-align: right;
}

#space{
  height: 25px;
} 
#flex-parent{
  display: flex;
  flex-basis: auto;
}

/* About me section*/

.box-1{
  color: #22223b;
  padding-right: 5px;
  border-right: 5px solid #22223B ;
  font-size: large;
  width: 384px;
  height: 200px;
  text-align: right;
}
/*Paragraph*/
.box-2{
  padding-left: 20px;
  width: 66%;
}

.p-1{
  position: absolute;
  float: left;
  margin-right: 50px;
  padding-top: 5px;
  text-align: left;
  width: 850px;
}

/*Work and images section*/

.box-3{
  display: inline-block;
  color: #22223b;
  padding-right: 5px;
  border-right: 5px solid #22223B ;
  font-size: large;
  width: 384px;
  height: 495px;
  text-align: right;
}
.box-4{
  padding-left: 20px;
  display: inline-block;
  width: 66%;
}

.image-1{
  border: 4px solid #22223b;
  position: absolute;
  height: 255px;
  width: 850px;
  margin-right: 50px;
}

.image-2{
  border: 4px solid #22223b;
  height: 125px;
  width: 425px;
  margin-top: 240px;
  position: absolute;
}

.image-3{
  border: 4px solid #22223b;
  background-color: #4A4E69;
  margin-left: 425px;
  height: 125px;
  width: 425px;
  margin-top: 240px;
  position: absolute;
}
.image-4{
  border: 4px solid #22223b;
  background-color: #9A8C98;
  height: 125px;
  width: 425px;
  margin-top: 365px;
  position: absolute;
}
.image-5{
  border: 4px solid #22223b;
  background-color: #C9ADA7;
  margin-left: 425px;
  height: 125px;
  width: 425px;
  margin-top: 365px;
  position: absolute;
}

.box-5{
  padding-top: 5px;
  position: inline-block;
  height: 125px;
  color: #22223b;
  padding-right: 5px;
  border-right: 5px solid #22223B ;
  font-size: large;
  text-align: right;
  width: 383px;
  justify-content: center;
}

.box-6{
  padding-left: 20px;
  width: 70%;
}
.nav-2{ 
  position: absolute;
  color: #22223b; 
  position: absolute;
  margin-right: 20px;
  padding-top: 50px;
  text-align: left;
  width: 850px;
}

.ul-2{
  border: 1px dotted green;
  margin-top: 10px;
  list-style: none;

}

#li-2{
  font-weight: bolder
}

a{
  text-decoration: underline;
}